<div class="jumbotron">
  <h1>Welcome To CabShare</h1>
  <p class="lead">Saving you money while getting you to your destination</p>
  <p><a class="btn btn-lg btn-success" href="/" role="button">Check available rides</a></p>
</div>

