<div class="jumbotron">
  <h1>You have no Matches at this time</h1>
  <p class="lead">Our rides are constantly updated please try again or expand your time/area criteria</p>
  <p><a class="btn btn-lg btn-success" href="/" role="button">Start Over</a></p>
</div>